<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>WebAppHomeDecor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Themes/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Themes/Content/Css/root-styles.css" />

    <link rel="stylesheet" href="~/Themes/FooterTemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Themes/FooterTemplate/css/style.css">
    <link rel="stylesheet" href="~/Themes/FooterTemplate/fonts/icomoon/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
        html{
            height: 100vh;
            width:100%;
        }
    </style>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            @* <a href="/"><img style="width: 100px" src="~/Themes/images/logo.png" /></a> *@
            <a class="navbar-brand" style="font-weight:bold;" href="/">QUINTO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link nav-link-custome" aria-current="page" href="#!">CATOGORIES</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-custome" href="#!">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-custome" href="#!">STORE LOCATOR</a></li>
                </ul>
                <div class="d-flex">
                    <i class="bi-cart-fill me-1"></i>
                    @* <span class="badge text-black ms-1 rounded-pill">0</span> *@
                </div>
            </div>
        </div>
    </nav>
    <div style="box-sizing:border-box" class="">
        <main role="main" class="pb-3">
            @RenderBody()
       </main>
    </div> 
    <div class="w-100 bg-light">
        @await Html.PartialAsync("_Footer")
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
